<div class="row" style="margin-top:20px;">
    <div class="col-md-12 col-sm-12">
        <div class="card card-box">
            <div class="card-body table-responsive">
                <table class="table dataTable" id="tblProductImages" style="width:100%;text-align:center;">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>IsMain</th>
                            <th class="col-6"><i class="fa fa-cogs"></i></th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
